extends layout 

block content 
    h1 Categories 
    ul
        each category in categories
            li 
                div.flex-50
                    a(href=category.url) #{category.name}
        else 
            li Not found