extends layout 

block content 
    h1 Categories 
    ul
        each category in categories
            li 
                div.flex-50
                    p #{category.name}
                    form(action=category.deleteUrl, method="post") 
                        button(type="submit") Remove 
        else 
            li Not found
    a(href="/categories/create") Add a new category

