extends layout 

block content 
    h1 #{user.fullname} are you sure to remove x#{item.quantity} #{item.product.name} from your cart?
    form(action="", method="post")
        button(type="submit") Yes 
    form(action="../", method="get") 
        button(type="submit") No 