doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.flex-50
      div
        a(href="/")
          h3 Home
        hr
        h3 Account
        a(href='/account/signin') Sign in
        br  
        a(href='/account/signup') Sign up  
        hr
        h3 Products
        a(href='/products/') View products
        br
        a(href='/categories/') View categories
      div
        block content
