doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css")
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')
    //- Favicon
    link(rel="icon" type="image/x-icon" href="/icon.ico")
  body
    div.p-4
      ul.nav.nav-tabs.justify-content-center.mb-5
        li.nav-item
          a.nav-link(href='/') 
            h3 Home
        li.nav-item
          a.nav-link(href='/products') 
            h3 Products
        li.nav-item
          a.nav-link(href='/categories') 
            h3 Categories
        li.nav-item
          a.nav-link(href='/account/cart') 
            h3 Cart
        li.nav-item
          a.nav-link(href='/account/orders') 
            h3 Orders
        li.nav-item.dropdown.ms-auto
          a.nav-link(href='#' data-bs-toggle='dropdown') 
            h3.dropdown-toggle Account
          .dropdown-menu
            a.dropdown-item(href='/account/signin') Sign in
            a.dropdown-item(href='/account/signup') Sign up
            .dropdown-divider
            a.dropdown-item(href='/account/logout') Log out
    
      //- ul.nav.nav-plls
      //-   li.nav-item
      //-     a.nav-link(href="/")
      //-       h2 Home

      //-   li.nav-item.dropdown
      //-     a.dropdown-toggle Search
      //-     div.dropdown-menu
      //-       a.dropdown-item(href='/products/') View products
      //-       a.dropdown-item(href='/categories/') View categories
      
      //-   li.nav-item.dropdown
      //-     a.dropdown-toggle Account
      //-     div.dropdown-menu
      //-       a.dropdown-item(href='/account/signin') Sign in
      //-       a.dropdown-item(href='/account/signup') Sign up
      //-       a.dropdown-item(href='/account/logout') Log out
      div.d-flex.justify-content-center
        div.mw-50.content-div
          block content
