extends layout 

block content 
    h1= title 
    if orders.length
        ul
        each order in orders 
            li 
                a(href=order.url) Order of #{order.localeDate}
    else 
        h3 No Orders