extends layout 

block content 
    .d-flex.justify-content-center
        div
            h1= title 

            h3 By #{user.fullname}
            ul
                each item in items 
                    li 
                        p #{item.product.name} x#{item.quantity}
                    
            form(action="", method="post")
                button(type="submit") Place 