extends layout 

block content 
    h1= title
    
    if products.length
        ul
            each product in products 
                li
                    a(href=product.url) #{product.name}
    else 
        p No Products
    
    a.btn.btn-primary.w-100(href="/products/create") Add a new product