extends layout 

block content 
    h1= title
    hr
    form(action="", method="post")
        input(type="text", name="username", placeholder="username")
        br
        input(type="password", name="password", placeholder="password")
        br
        button(type="submit") Sign in
