body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
  font-size: 2rem;
}

a {
  color: #00b7ff;
  font-size: 2rem;
}

.content-div {
  width: 100rem;
  min-height: 70vh;
}

.product-card {
  width: 20rem;
}

ul {
  list-style-type: none;
}
