body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.flex-50 {
  display: flex;
  gap: 50px;
}

.cart-thumbnail {
  border: 1px solid black;
  padding: 10px;
  background-color: azure;
}

.purchase-thumbnail {
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(172, 255, 47, 0.517);
}
